* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

body {
    font-family: Arial, sans-serif;
    height: 100vh;
    width: 100vw;
}

.navbar {
    background-image: radial-gradient(#1f68e5,#082e89);
    font-family: 'Times New Roman', Times, serif;
    color: white;
    position: fixed;
    padding: 12px;
    top: 0;
    left: 0;
    width: 100%;
    height: 12vh;
}
.navdiv{
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.container{
    margin-top:12vh;
    /* background-image: radial-gradient(rgb(146, 69, 125),rgb(212, 74, 74),rgb(223, 84, 3)); */
   /* /*  * */
    background-image: url(../bino.jpg);
    background-size: cover;
    background-repeat: no-repeat; 
    background-position: center;
    display: flex;
    justify-content:space-evenly;
    align-items:center;
    height: 87vh; 
    width: 100vw;
    column-gap: 1rem;
    padding: 0rem 1rem;
}

.box{
  width: 50%;
  height: 100%; 
  display: flex;
  justify-content: center;
  align-items: center;
  /* border:solid #1f68e5; */
  /* background-image: url(../mainn.gif); */
  /* background-size: contain; */
  /* background-position: center; */
  /* background-repeat: no-repeat; */

}

.box1{
    width: 50%;
    height: 100%; 
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:solid #1f68e5; */
    padding: 0.1rem;  
    overflow: hidden;  
    /* kyunki yha padding badh rha hai isiliye isliye parent container m fit horha h */
  }

hr{
    height: 3px;
    /* background-color: black; */
}

.intro{
    font-size: calc(4vw + 6vh);
    text-align:justify;
    /* white-space: nowrap; */
    overflow: hidden;
    color: white;
    margin: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
        
}


h2{
    text-align: center;
    margin: 1rem;
    font-weight: bold;
    font-size:xx-large
}
/* .feat{
    width: 100vw;
    display: flex;
    flex-direction: column;
} */


.logo{
    font-size:2rem;
    font-weight:bolder;
    color: rgb(9, 2, 63);
}

li{
    list-style: none;
    display: inline-block;
}

li a{
    color: white; 
    font-size: 18px; 
    font-weight:bold; margin-right: 25px; 
    text-decoration: none; 
}

li a:hover{
    text-decoration: underline;
}

button{
    background-color: rgb(70, 69, 69); margin-left: 10px; border-radius: 10px; padding: 10px; width: 90px;
}

button a{
    color: white; font-weight: bold; font-size: 15px; text-decoration: none;
}


/* .back{
    height:400px;
    width: 100%;
    /* background-image: linear-gradient(to right, rgb(227, 114, 227), rgb(118, 3, 118) , rgb(148, 18, 18)); */
    /* display: grid;
    padding: 4rem; */
    /* margin-top: 62px;
    column-gap: 2rem; */
    /* grid-template-columns: repeat(2,1fr); */
    /* grid-template-rows: 1fr; */
    /* background-color: blueviolet; */
 

.image{
   width: 100%;
   overflow: hidden;    
}

.imgage img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}

.txt{
   background-color: rgb(166, 238, 94);
   color: black; 
  
}

div>p{
    color:black;
    /* position: relative; */
}

.quote1{
    display: flex;
    align-items: center;
    width: 100%;
    height: 360px;
    padding: 2rem;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: x-large;
    /* margin-block-start: 1rem; */
    /* margin-block-end: 1rem; */
    background-image: linear-gradient(rgb(119, 115, 115),rgb(210, 208, 199));

}

.comp_container{
    /* padding: 20px; */
    /* height:600px;
    width: 100%; */
    padding: 2rem;
    max-width:inherit;
    display: grid;
    align-items: center;
    border:solid grey;
    row-gap:1rem;
    column-gap:1rem ;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: repeat(2,1fr);
    /* background-color: rgb(218, 217, 215); */
}

.item{
    background-image: linear-gradient(rgb(61, 182, 238),white,rgb(172, 167, 167) ,black
    );
    height: 140px;
    display: flex;
    justify-content: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    border-radius: 12px;
    box-shadow:  5px 2px 4px rgb(181, 180, 180);
}
.i1:hover{
    background-image: url(../logo5.avif);
    background-size: cover;
    box-shadow:  5px 2px 4px rgb(96, 95, 95);
    font-size: x-large;
    color: white;
    
    transform: scale(1.1) translateY(-10px);
}



.i2:hover{
    background-image: url(../logo2.webp);
    background-size: cover;
    background-position: center;
    box-shadow:  5px 2px 4px rgb(96, 95, 95);
    font-size: x-large;
    color: white;
    transform: scale(1.1) translateY(-10px);
    
}.i3:hover{
    background-image: url(../logo3.webp);
    background-size: cover;
    background-position: center;
    box-shadow:  5px 2px 4px rgb(96, 95, 95);
    font-size: x-large;
    transform: scale(1.1) translateY(-10px);
    color: white;
}.i4:hover{
    background-image: url(../logo5.avif);
    background-size: cover;
    box-shadow:  5px 2px 4px rgb(96, 95, 95);
    font-size: x-large;
    color: white;
    transform: scale(1.1) translateY(+10px);
}

a {
    color: inherit; 
    text-decoration: none;
    font-size: larger;
    display: block; 
    transition: background-color 0.3 ease-in-out;
  }

a:hover{
    color:rgb(20, 4, 75);
    font-size:large;
    font-family:Verdana, Geneva, Tahoma, sans-serif, sans-serif;
    /* font-weight:; */
}

.heading{
    width:inherit;
    height: 80px;
    margin-top: 1rem;
    /* background-color:  rgb(195, 191, 191); */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
    padding: 10px;
    font-size: 2rem;;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow:
    1px 1px 1px rgb(227, 68, 68),
    5px 4px 3px rgb(20, 12, 106);
}


.text-section {
    padding: 3rem;
    background-color: #e8e8e8;
    display: flex;
    justify-content: center;
}

.text-content {
    font-size: 10pxrem;
    max-width: 800px;
    text-align: center;
}


.features{
    width:100vw;
    height: 300px;
    background-color: white;
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    
}

.f-img{
    height: 100%;
    width:50%;
    background-image:url(../house.jpg) ;
    background-size: cover;
    background-color: aqua;
}

.info{
    height: 100%;
    width: 50%;
    padding: 0.8rem;
    /* background-color: beige; */
}
.link-btn {
    display: inline-block;
    padding: 10px 20px;
    /* background-color: #aba7f1; */
    color: #3d34df;
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: bold;
  }
  

  .f3-img{
    height: 100%;
    width:50%;
    background-image:url(../bnw.jpg) ;
    background-size: cover;
}

.f2-img{
    height: 100%;
    width:50%;
    background-image:linear-gradient(rgb(55, 43, 226),white);
    border-radius: 1rem;
}

.f4-img{
    height: 100%;
    width:50%;
    background-image:linear-gradient(rgb(118, 15, 152),white);
    border-radius: 1rem;
}










