* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image:url(../scene.jpg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.signupcontainer {
    background-image: linear-gradient(rgb(116, 196, 233), white, rgb(72, 72, 72));
    padding: 1rem;
    border-radius: 20px;
    border:none ;
    width: 100%;
    max-width: 350px;
    box-shadow: #007bff;
}

h2 {
    text-align: center;
    margin-bottom: 1.5rem;
    color: #666564 ;
}

.item {
    margin-bottom: 1rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: #333;
}

input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 12px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #494949;
}

.submit-btn {
    width: 100%;
    padding: 0.75rem;
    border: none;
    background-color: #5c5c5c;
    color: white;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #31302f ;
}

.signin-link {
    text-align: center;
    margin-top: 1rem;
}

.signin-link a {
    color: #007bff;
    text-decoration: none;
}

.signin-link a:hover {
    text-decoration: underline;
}
